<footer class="bg-dark fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 class="text-white">WeatherApp</h5>
        <p class="text-muted">WeatherWise is an prototype application that provides accurate and up-to-date weather information</p>
        <img src="brand-icon.png" alt="Brand Icon" class="brand-icon">
      </div>
      
      <div class="col-md-3">
        <h5 class="text-white">Contact Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-muted">Email: info@example.com</a></li>
          <li><a href="#" class="text-muted">Phone: +94 11 1234567</a></li>
          <li><a href="#" class="text-muted">Address: UCSC</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-white">About </h5>
        <p class="text-muted">WeatherWise is a web application, developed for an assignment of MCS1202, coverup CBSE <span class="text-white"> &copy; 2023 Sudam Rohanadeera. All rights reserved.</span></p>
        
      </div>

      <div class="col-md-3">
        <h5 class="text-white">Follow Us</h5>
        <ul class="list-inline social-media">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-white"> &copy; 2023 Sudam Rohanadeera. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
